<mat-card appearance="outlined" class="country-card sticky-top">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Selected Card</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if (counter) {
    <p>
      Code: <strong>{{ counter.countryCode.code }}</strong>
    </p>
    <p>
      Clicked: <strong>{{ counter.clickedCounter }}</strong>
    </p>
    } @else {
    <p>Code: <strong>-</strong></p>
    <p>Clicked: <strong>-</strong></p>
    }
  </mat-card-content>
</mat-card>
