<main>
  <section class="country-table">
    @defer (when countryCounter$) { @for (country of countryCounter$ | async;
    track country.countryCode.id) {
    <div class="country-card">
      <app-country-detail
        [country]="country.countryCode"
        [counter]="country.clickedCounter"
        (countrySelected)="updateCounter($event)"
      ></app-country-detail>
    </div>
    }}@loading {
    <h2>Loading</h2>
    } @placeholder {
    <h2>Placeholder</h2>
    }
  </section>
  <section class="country-counter">
    <app-country-counter [counter]="lastSelectedCountry$ | async" />
  </section>
</main>
